version: 2
updates:
  - package-ecosystem: 'cargo'
    directory: '/'
    schedule:
      interval: 'weekly'
    rebase-strategy: 'disabled'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
