[package]
name = "me3-env"
version = "0.6.0"
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = false

[dependencies]
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true

[lints]
workspace = true
