[workspace]
members = [
  "crates/cli",
  "crates/launcher",
  "crates/launcher-attach-protocol",
  "crates/mod-host",
  "crates/mod-protocol",
  "crates/mod-host-assets",
  "crates/binary-mapper",
  "crates/telemetry",
]
resolver = "2"

[workspace.package]
version = "0.4.0"
edition = "2021"
repository = "https://github.com/garyttierney/me3"
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
unused = "warn"

[workspace.lints.clippy]
missing_transmute_annotations = "allow"

[workspace.dependencies]
crash-context = "0.6.3"
dll-syringe = "0.15"
expect-test = "1.5.0"
ipc-channel = "0.19"
minidumper = "0.8"
me3-launcher-attach-protocol = { path = "crates/launcher-attach-protocol" }
me3-mod-host = { path = "crates/mod-host" }
me3-mod-protocol = { path = "crates/mod-protocol" }
me3-mod-host-assets = { path = "crates/mod-host-assets" }
schemars = "0.9"
serde = "1"
serde_derive = "1"
serde_json = "1"
serde_yaml = "0.9"
toml = "0.8"
thiserror = "2"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.0", features = ["env-filter"] }
tracing = "0.1.13"

[workspace.metadata.release]
pre_release_replacements = [
  { file = "CHANGELOG.md", search = "Unreleased", replace = "$TAG_NAME" },
  { file = "CHANGELOG.md", search = "...HEAD", replace = "...$TAG_NAME", exactly = 1 },
  { file = "CHANGELOG.md", search = "ReleaseDate", replace = "$DATE" },
  { file = "CHANGELOG.md", search = "<!-- next-header -->", replace = "<!-- next-header -->\n\n## [Unreleased] - ReleaseDate", exactly = 1 },
  { file = "CHANGELOG.md", search = "<!-- next-url -->", replace = "<!-- next-url -->\n[Unreleased]: https://github.com/assert-rs/predicates-rs/compare/$TAG_NAME...HEAD", exactly = 1 },
]

[patch.crates-io]
# MaybeUninit::uninit_array was removed in recent nightly. dll-syringe is yet to fix their usages.
# PR with fix: https://github.com/OpenByteDev/dll-syringe/pull/35
dll-syringe = { git = 'https://github.com/fry/dll-syringe.git', rev = "0a8b18efccbfd5b31553d7be8e8e48ecb1991ff4" }
