[workspace]
members = [
    "crates/launcher",
    "crates/launcher-attach-protocol",
    "crates/mod-host",
    "crates/mod-protocol",
    "crates/mod-host-assets",
    "crates/binary-mapper",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
repository = "https://github.com/garyttierney/me3"
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
unused = "warn"

[workspace.lints.clippy]
missing_transmute_annotations = "allow"

[workspace.dependencies]
crash-context = "0.6.3"
dll-syringe = "0.15"
expect-test = "1.5.0"
ipc-channel = "0.19"
minidumper = "0.8"
me3-launcher-attach-protocol = { path = "crates/launcher-attach-protocol" }
me3-mod-host = { path = "crates/mod-host" }
me3-mod-protocol = { path = "crates/mod-protocol" }
me3-mod-host-assets = { path = "crates/mod-host-assets" }
me3-binary-analysis = { path = "crates/binary-analysis" }
schemars = "0.8"
serde = "1"
serde_derive = "1"
serde_json = "1"
serde_yaml = "0.9"
toml = "0.8"
thiserror = "2"
tracing-error = "0.2"
tracing-subscriber = "0.3"
tracing = "0.1"

[patch.crates-io]
# MaybeUninit::uninit_array was removed in recent nightly. dll-syringe is yet to fix their usages.
# PR with fix: https://github.com/OpenByteDev/dll-syringe/pull/35
dll-syringe = { git = 'https://github.com/fry/dll-syringe.git', rev = "0a8b18efccbfd5b31553d7be8e8e48ecb1991ff4" }
