name: Upload translation sources to Crowdin

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions: read-all

jobs:
  synchronize-with-crowdin:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: crowdin action
        uses: crowdin/github-action@60debf382ee245b21794321190ad0501db89d8c1 # v2.13.0
        with:
          upload_sources: true
          config: crowdin.yml
        env:
          CROWDIN_PROJECT_ID: 805966
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
